label {
    margin-top: 15px;
}

button.action-button {
    float: none; 
    margin-top: 10px;
     width: 100%;
}

.export-group-name {
    width: 100%;
}

.combine-button {
    border-color: orange;
    background: linear-gradient(to top, #fefcea, #f1da36);
}

.combine-button:hover {
    background: linear-gradient(to bottom, #fefcea, #f1da36);
}

.filter-button {
    border-color: red;
}